<!doctype html>
<html lang="en" dir="ltr" th:replace="~{layout :: layout(~{::div})}" xmlns:th="http://www.thymeleaf.org">
<body>
   <div class="container">
   	<div class="card">
       <div class="card-header">
         <h3 class="card-title">Invoices<span th:text="${hostName}">US</span></h3>
       </div>
       <div class="table-responsive">
         <table class="table card-table table-vcenter text-nowrap">
           <thead>
             <tr>
               <th class="w-1">No.</th>
               <th>Email</th>
               <th>Name</th>
               <th>Password</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="user,rowStat : ${users}">
               <td><span class="text-muted" th:text="${rowStat.count}">001406</span></td>
               <td th:text="${user.email}">
                 Tabdaq
               </td>
               <td th:text="${user.name}">
                 87956621
               </td>
               <td th:text="${user.password}">
                 4 Feb 2018
               </td>
               <td>
                 <a class="btn btn-secondary btn-sm icon" href="javascript:void(0)" th:href="@{/user.delete(userId=${user.id})}">
                   <i class="fe fe-trash"></i>Delete
                 </a>
               </td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>      
</body>
</html>